* {
  padding: 0;
  margin: 0;
}

h1 {
  background: #a3e4d7;
  text-align: center;
  border: 1px solid #48c9b0;
  font: bold verdana;
}

.bloque1 {
  width: 500px;
  margin: 100px;
}

ul {
  text-align: center;
}

.img {
  padding: 10px; 
  margin: 250px; 
  border: 2px solid black; 
  float: right; 
  width: 250px;

}

.navegacion li {
  list-style: none;
  font: bold 14px verdana;
  display: inline-block;