* {
  margin: 0;
  padding: 0;
}
.img {
  background: yellow;
  height: 300px;
  width: 400px;
  padding: 32px;
  border: 16px solid orange;
  margin: 10px;
}

.div {
  background-color: red;
  width: 516px;
  height: 416px;
}
